In [10]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv('loan_mkt.csv')

C:\Users\Lendistry\AppData\Local\Temp\ipykernel_4980\2209910272.py:1: DtypeWarning: Columns (9,10,11,12,13,14,15,16,18,19,20,21,22,23,24,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('loan_mkt.csv')

In [12]:
df2=df.copy(deep=True)

In [13]:
df2

,send_id,email_address,date,subject,opened_flag,clicked_flag,clicked_url,bounce_flag,bounce_reason,application_instance_id,...,user_id,program,as_of_date,first_name,last_name,phone_number,fico,credit_score,liability_bankruptcy_count,created_date
0,933766,saneustransport@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffe002e-63ea-4873-a936-9dfcc8d2ef1e,...,dd8b5038-f687-4bd2-b595-13ae30d04f20,business-lending,6/1/2023,Brandon,Saneus,1-954-918-0763,NaN,NaN,NaN,05/17/2023 7:43:08 PM
1,933768,rodneyalford8@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffc2044-ada9-4565-a482-7c8c9f60b588,...,d572c310-33cc-4103-a2c1-aba0375aa9e6,business-lending,11/27/2023,Rodney,Alford,1-909-568-9748,NaN,NaN,NaN,11/27/2023 7:45:53 PM
2,951340,rodneyalford8@gmail.com,11/29/2023,Your application with Lendistry is easy as 1 2 3,Open,NaN,NaN,NaN,NaN,fffc2044-ada9-4565-a482-7c8c9f60b588,...,d572c310-33cc-4103-a2c1-aba0375aa9e6,business-lending,11/27/2023,Rodney,Alford,1-909-568-9748,NaN,NaN,NaN,11/27/2023 7:45:53 PM
3,955424,rodneyalford8@gmail.com,12/1/2023,3 documents to have ready for your application,Open,NaN,NaN,NaN,NaN,fffc2044-ada9-4565-a482-7c8c9f60b588,...,d572c310-33cc-4103-a2c1-aba0375aa9e6,business-lending,11/27/2023,Rodney,Alford,1-909-568-9748,NaN,NaN,NaN,11/27/2023 7:45:53 PM
4,933766,tguillotte80@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,fffbd606-235c-4db7-afff-9d050bcea87a,...,38ca4335-681d-4190-b1a6-2d30a5d26760,business-lending,11/3/2023,Tyreanna,Guillotte,1-719-639-3547,NaN,NaN,NaN,10/18/2023 9:20:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244530,933768,foxpoolcovers@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244531,921369,markaryang@aol.com,11/9/2023,Application Not Funded-Economic Opportunity Grant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244532,933768,larry.swafford.3@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244533,933766,angieleyva@icloud.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244534,933768,flowerchildcasting@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#emails sent per email
emails_sent_per_email=df2.groupby('email_address').size().reset_index(name='count')
emails_per_email_sorted = emails_sent_per_email.sort_values(by='count', ascending=False)
emails_per_email_sorted

                             email_address  count
43421             ct-tester-01@yopmail.com     48
43416                  cswords06@gmail.com     42
22492        basemalgaberi199119@gmail.com     36
120145       lyoseloff@roadsfoundation.org     21
1932    Chad.lindsey@airportdimensions.com     21
...                                    ...    ...
72679                 gsingh6205@gmail.com      1
72680                  gsingh951@gmail.com      1
72681               gsingh@protosgroup.net      1
72682                  gsinghn81@gmail.com      1
204512                 zzw520usc@gmail.com      1

[204513 rows x 2 columns]

In [15]:
#adds_open_per_email
adds_open_per_email=df2[df2['opened_flag'] == 'Open'].groupby('email_address').size().reset_index(name='count_open')
adds_open_per_email_sorted = adds_open_per_email.sort_values(by='count_open', ascending=False)
adds_open_per_email_sorted

                        email_address  count_open
22842             cswords06@gmail.com          42
12205   basemalgaberi199119@gmail.com          36
63203   lyoseloff@roadsfoundation.org          21
71292        mordechai@updateitny.com          21
60743          lic.marytatm@gmail.com          20
...                               ...         ...
38301               gunduz23@live.com           1
38300        gundrumbrennan@gmail.com           1
38299               guncomm@gmail.com           1
38298              gumspots@gmail.com           1
107959            zzvv19077@gmail.com           1

[107960 rows x 2 columns]

In [16]:
#adds_click_per_email
adds_click_per_email=df2[df2['clicked_flag'] == 'Click'].groupby('email_address').size().reset_index(name='count_click')
adds_click_per_email_sorted = adds_click_per_email.sort_values(by='count_click', ascending=False)
adds_click_per_email_sorted

                           email_address  count_click
828        basemalgaberi199119@gmail.com           24
3811       lyoseloff@roadsfoundation.org           21
3987   matt.miller@airportdimensions.com           21
4301            mordechai@updateitny.com           21
82    Chad.lindsey@airportdimensions.com           21
...                                  ...          ...
2428       hello@lighthousefinancial.com            1
2426     hello@infinitepossibilities.biz            1
2425                hello@gustobread.com            1
2423              hello@dreamkreator.org            1
6313             zwinger@levionsolar.com            1

[6314 rows x 2 columns]

In [17]:
#adds_bounce_per_email
adds_bounce_per_email=df2[df2['bounce_flag'] == 'Bounce'].groupby('email_address').size().reset_index(name='count_bounce')
adds_bounce_per_email_sorted = adds_bounce_per_email.sort_values(by='count_bounce', ascending=False)
adds_bounce_per_email_sorted

                        email_address  count_bounce
912         cheron.610@sloveniakm.com             6
323         andron@sandalogistics.net             6
295                 ampros1@gmail.com             5
1295            devon_rayna@yahoo.com             5
1446                  eamento@mmrx.or             5
...                               ...           ...
1860         gregorytmorrow@yahoo.com             1
1859  gregoryg@gibsontransportllc.net             1
1858            greglulloff@yahoo.com             1
1857             gregking96@yahoo.com             1
5487         zyterrones@lifestages.us             1

[5488 rows x 2 columns]

In [18]:
result_df = pd.merge(emails_per_email_sorted, adds_open_per_email_sorted, on='email_address', how='left')
result_df

                             email_address  count  count_open
0                 ct-tester-01@yopmail.com     48         NaN
1                      cswords06@gmail.com     42        42.0
2            basemalgaberi199119@gmail.com     36        36.0
3            lyoseloff@roadsfoundation.org     21        21.0
4       Chad.lindsey@airportdimensions.com     21         NaN
...                                    ...    ...         ...
204508                gsingh6205@gmail.com      1         1.0
204509                 gsingh951@gmail.com      1         1.0
204510              gsingh@protosgroup.net      1         NaN
204511                 gsinghn81@gmail.com      1         1.0
204512                 zzw520usc@gmail.com      1         NaN

[204513 rows x 3 columns]

In [19]:
result_df2 = pd.merge(result_df, adds_click_per_email_sorted, on='email_address', how='left')
result_df2

                             email_address  count  count_open  count_click
0                 ct-tester-01@yopmail.com     48         NaN          NaN
1                      cswords06@gmail.com     42        42.0         12.0
2            basemalgaberi199119@gmail.com     36        36.0         24.0
3            lyoseloff@roadsfoundation.org     21        21.0         21.0
4       Chad.lindsey@airportdimensions.com     21         NaN         21.0
...                                    ...    ...         ...          ...
204508                gsingh6205@gmail.com      1         1.0          NaN
204509                 gsingh951@gmail.com      1         1.0          NaN
204510              gsingh@protosgroup.net      1         NaN          NaN
204511                 gsinghn81@gmail.com      1         1.0          NaN
204512                 zzw520usc@gmail.com      1         NaN          NaN

[204513 rows x 4 columns]

In [20]:
result_df3 = pd.merge(result_df2, adds_bounce_per_email_sorted, on='email_address', how='left')
result_df3

,email_address,count,count_open,count_click,count_bounce
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN
1,cswords06@gmail.com,42,42.0,12.0,NaN
2,basemalgaberi199119@gmail.com,36,36.0,24.0,NaN
3,lyoseloff@roadsfoundation.org,21,21.0,21.0,NaN
4,Chad.lindsey@airportdimensions.com,21,NaN,21.0,NaN
...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,NaN,NaN
204509,gsingh951@gmail.com,1,1.0,NaN,NaN
204510,gsingh@protosgroup.net,1,NaN,NaN,NaN
204511,gsinghn81@gmail.com,1,1.0,NaN,NaN
204512,zzw520usc@gmail.com,1,NaN,NaN,NaN

In [22]:
#send_id_per_email_address
send_id_per_email=df2.groupby('email_address')['send_id'].nunique().reset_index(name='unique_send_count')
send_id_per_email_sorted=send_id_per_email.sort_values(by='unique_send_count', ascending=False)
send_id_per_email_sorted

                            email_address  unique_send_count
88520   jamesbaumbusinesssearch@gmail.com                 12
53740               dr.cathy440@gmail.com                 11
157280          redandwhitellc1@gmail.com                 11
60593             erica824523@hotmail.com                 10
92350          jenn@impactyourfitness.net                 10
...                                   ...                ...
71972      greenhammerlogistics@gmail.com                  1
71973            greenhawdenise@gmail.com                  1
71974              greenhome804@gmail.com                  1
71975    greenhouse.enterprises@gmail.com                  1
204512                zzw520usc@gmail.com                  1

[204513 rows x 2 columns]

In [23]:
result_df4 = pd.merge(result_df3, send_id_per_email_sorted, on='email_address', how='left')
result_df4

,email_address,count,count_open,count_click,count_bounce,unique_send_count
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6
1,cswords06@gmail.com,42,42.0,12.0,NaN,7
2,basemalgaberi199119@gmail.com,36,36.0,24.0,NaN,4
3,lyoseloff@roadsfoundation.org,21,21.0,21.0,NaN,1
4,Chad.lindsey@airportdimensions.com,21,NaN,21.0,NaN,1
...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,NaN,NaN,1
204509,gsingh951@gmail.com,1,1.0,NaN,NaN,1
204510,gsingh@protosgroup.net,1,NaN,NaN,NaN,1
204511,gsinghn81@gmail.com,1,1.0,NaN,NaN,1
204512,zzw520usc@gmail.com,1,NaN,NaN,NaN,1

In [25]:
df3=df.copy(deep=True)

In [31]:
df3.columns

Index(['send_id', 'email_address', 'date', 'subject', 'opened_flag',
       'clicked_flag', 'clicked_url', 'bounce_flag', 'bounce_reason',
       'application_instance_id', 'email', 'latest_status', 'borrower',
       'applicant_email', 'business_street', 'business_city', 'business_state',
       'business_zip', 'business_start_date', 'user_id', 'program',
       'as_of_date', 'first_name', 'last_name', 'phone_number', 'fico',
       'credit_score', 'liability_bankruptcy_count', 'created_date'],
      dtype='object')

In [33]:
df3.drop_duplicates(subset='email_address',keep='first',inplace=True)
df3

,send_id,email_address,date,subject,opened_flag,clicked_flag,clicked_url,bounce_flag,bounce_reason,application_instance_id,...,user_id,program,as_of_date,first_name,last_name,phone_number,fico,credit_score,liability_bankruptcy_count,created_date
0,933766,saneustransport@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffe002e-63ea-4873-a936-9dfcc8d2ef1e,...,dd8b5038-f687-4bd2-b595-13ae30d04f20,business-lending,6/1/2023,Brandon,Saneus,1-954-918-0763,NaN,NaN,NaN,05/17/2023 7:43:08 PM
1,933768,rodneyalford8@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffc2044-ada9-4565-a482-7c8c9f60b588,...,d572c310-33cc-4103-a2c1-aba0375aa9e6,business-lending,11/27/2023,Rodney,Alford,1-909-568-9748,NaN,NaN,NaN,11/27/2023 7:45:53 PM
4,933766,tguillotte80@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,fffbd606-235c-4db7-afff-9d050bcea87a,...,38ca4335-681d-4190-b1a6-2d30a5d26760,business-lending,11/3/2023,Tyreanna,Guillotte,1-719-639-3547,NaN,NaN,NaN,10/18/2023 9:20:00 PM
5,933766,danklein9911@msn.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffb8cb2-b2ac-4e03-aebf-434b1a6bca3e,...,3611bf5a-3bf1-41f0-b3b4-f83ab6350dcb,business-lending,3/20/2023,Daniel,Klein,1-720-882-7730,NaN,NaN,NaN,12/31/2022 1:49:14 PM
6,933766,kitchenofkilonta@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,fff6280a-9aef-4647-bf87-3d64b6210dc2,...,aa900b4f-3bdf-47f7-8409-6bd725109c2a,business-lending,6/27/2023,Kilonta,Stewart,1-916-308-6982,NaN,NaN,NaN,06/11/2023 10:44:32 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244528,933768,adonovan86@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244529,933768,lakhveermann78@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244531,921369,markaryang@aol.com,11/9/2023,Application Not Funded-Economic Opportunity Grant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244532,933768,larry.swafford.3@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244533,933766,angieleyva@icloud.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
uq_app_df=pd.read_csv('df4_test_csv.csv')

uq_app_df.drop(uq_app_df.columns[0], axis=1, inplace=True)
uq_app_df

,send_id,email_address,date,subject,opened_flag,clicked_flag,clicked_url,bounce_flag,bounce_reason,application_instance_id,...,program,as_of_date,first_name,last_name,phone_number,fico,credit_score,liability_bankruptcy_count,created_date,Primary_Flag
0,933766,saneustransport@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffe002e-63ea-4873-a936-9dfcc8d2ef1e,...,business-lending,6/1/2023,Brandon,Saneus,1-954-918-0763,NaN,NaN,NaN,05/17/2023 7:43:08 PM,True
1,933768,rodneyalford8@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffc2044-ada9-4565-a482-7c8c9f60b588,...,business-lending,11/27/2023,Rodney,Alford,1-909-568-9748,NaN,NaN,NaN,11/27/2023 7:45:53 PM,True
2,933766,tguillotte80@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,fffbd606-235c-4db7-afff-9d050bcea87a,...,business-lending,11/3/2023,Tyreanna,Guillotte,1-719-639-3547,NaN,NaN,NaN,10/18/2023 9:20:00 PM,True
3,933766,danklein9911@msn.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,fffb8cb2-b2ac-4e03-aebf-434b1a6bca3e,...,business-lending,3/20/2023,Daniel,Klein,1-720-882-7730,NaN,NaN,NaN,12/31/2022 1:49:14 PM,True
4,933766,kitchenofkilonta@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,fff6280a-9aef-4647-bf87-3d64b6210dc2,...,business-lending,6/27/2023,Kilonta,Stewart,1-916-308-6982,NaN,NaN,NaN,06/11/2023 10:44:32 PM,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31254,933766,murphyindya3@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,001695ce-0eb3-4b1e-99c5-b4b72c9625c6,...,business-lending,8/12/2023,Indya,Murphy,1-323-775-4778,NaN,NaN,NaN,07/28/2023 5:48:08 AM,True
31255,933766,noeurias369@gmail.com,11/16/2023,News and Resources for Small Businesses,Open,NaN,NaN,NaN,NaN,0011b715-1070-4ea3-939c-2de824b2c93a,...,business-lending,3/20/2023,Noe,Urias,1-928-221-4469,NaN,NaN,NaN,12/07/2022 5:28:48 PM,True
31256,933766,epcnyc@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,000e8fbe-6ec4-4f50-b1e4-8388e3008974,...,business-lending,6/9/2023,Zahed,Sharif,1-212-470-0343,703.0,NaN,0.0,10/26/2022 11:06:38 PM,True
31257,933766,james@getadvantageinsurance.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,000c2e65-5132-4793-9041-2a9d15f55523,...,business-lending,3/20/2023,James,Kolb,1-919-999-0782,NaN,NaN,NaN,11/10/2022 3:28:36 PM,True
31258,933766,commoditiesinternational.llc@gmail.com,11/16/2023,News and Resources for Small Businesses,NaN,NaN,NaN,NaN,NaN,00020485-dbe2-4c4a-a26d-c8febb0db849,...,business-lending,10/16/2023,JOSEPH,SPENCER,1-917-639-8396,715.0,NaN,0.0,09/25/2023 5:46:52 PM,True

In [44]:
#application_ids per email_address
apps_per_email=uq_app_df.groupby('email_address').size().reset_index(name='apps_count')
apps_per_email_sorted = apps_per_email.sort_values(by='apps_count', ascending=False)
apps_per_email_sorted

                    email_address  apps_count
7871        elnger1985@icloud.com           9
5730     ct-tester-01@yopmail.com           8
21926       rupalitmz71@gmail.com           8
3522   brandon.lewin@blcomedy.com           8
2497          azik_84@hotmail.com           8
...                           ...         ...
9653         grupolinas@gmail.com           1
9652       grupolarimar@gmail.com           1
9651            gruden333@msn.com           1
9650        grownlife82@gmail.com           1
27400            zzmb86@gmail.com           1

[27401 rows x 2 columns]

In [45]:
result_df5 = pd.merge(result_df4, apps_per_email_sorted, on='email_address', how='left')
result_df5

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0
1,cswords06@gmail.com,42,42.0,12.0,NaN,7,6.0
2,basemalgaberi199119@gmail.com,36,36.0,24.0,NaN,4,6.0
3,lyoseloff@roadsfoundation.org,21,21.0,21.0,NaN,1,NaN
4,Chad.lindsey@airportdimensions.com,21,NaN,21.0,NaN,1,NaN
...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,NaN,NaN,1,NaN
204509,gsingh951@gmail.com,1,1.0,NaN,NaN,1,NaN
204510,gsingh@protosgroup.net,1,NaN,NaN,NaN,1,NaN
204511,gsinghn81@gmail.com,1,1.0,NaN,NaN,1,NaN
204512,zzw520usc@gmail.com,1,NaN,NaN,NaN,1,NaN

In [51]:
df5=uq_app_df[['email_address','application_instance_id','created_date']]
df5

,email_address,application_instance_id,created_date
0,saneustransport@gmail.com,fffe002e-63ea-4873-a936-9dfcc8d2ef1e,05/17/2023 7:43:08 PM
1,rodneyalford8@gmail.com,fffc2044-ada9-4565-a482-7c8c9f60b588,11/27/2023 7:45:53 PM
2,tguillotte80@gmail.com,fffbd606-235c-4db7-afff-9d050bcea87a,10/18/2023 9:20:00 PM
3,danklein9911@msn.com,fffb8cb2-b2ac-4e03-aebf-434b1a6bca3e,12/31/2022 1:49:14 PM
4,kitchenofkilonta@gmail.com,fff6280a-9aef-4647-bf87-3d64b6210dc2,06/11/2023 10:44:32 PM
...,...,...,...
31254,murphyindya3@gmail.com,001695ce-0eb3-4b1e-99c5-b4b72c9625c6,07/28/2023 5:48:08 AM
31255,noeurias369@gmail.com,0011b715-1070-4ea3-939c-2de824b2c93a,12/07/2022 5:28:48 PM
31256,epcnyc@gmail.com,000e8fbe-6ec4-4f50-b1e4-8388e3008974,10/26/2022 11:06:38 PM
31257,james@getadvantageinsurance.com,000c2e65-5132-4793-9041-2a9d15f55523,11/10/2022 3:28:36 PM
31258,commoditiesinternational.llc@gmail.com,00020485-dbe2-4c4a-a26d-c8febb0db849,09/25/2023 5:46:52 PM

In [52]:
#applications_assocaited_with_email
result_df6 = pd.merge(result_df5, df5, on='email_address', how='left')
result_df6

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,db00987e-922e-4418-ac2e-9453c9783467,11/20/2023 8:01:38 PM
1,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,a9926cf9-a5e2-48b4-a56d-d30c6e2a7862,11/20/2023 8:56:00 PM
2,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,a97bb256-547d-4057-b6a5-88b8f5cff4ff,11/20/2023 3:43:17 PM
3,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,942f81fb-2817-4b0b-bfe4-21791b0224ad,11/20/2023 3:36:07 PM
4,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,66294629-55df-4144-8b88-087d1147f465,11/20/2023 3:27:51 PM
...,...,...,...,...,...,...,...,...,...
208366,gsingh6205@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
208367,gsingh951@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
208368,gsingh@protosgroup.net,1,NaN,NaN,NaN,1,NaN,NaN,NaN
208369,gsinghn81@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
208370,zzw520usc@gmail.com,1,NaN,NaN,NaN,1,NaN,NaN,NaN

In [53]:
#Emails with one or more application_instance_id
filtered_df = result_df6[result_df6['application_instance_id'].notna()]
filtered_df

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,db00987e-922e-4418-ac2e-9453c9783467,11/20/2023 8:01:38 PM
1,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,a9926cf9-a5e2-48b4-a56d-d30c6e2a7862,11/20/2023 8:56:00 PM
2,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,a97bb256-547d-4057-b6a5-88b8f5cff4ff,11/20/2023 3:43:17 PM
3,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,942f81fb-2817-4b0b-bfe4-21791b0224ad,11/20/2023 3:36:07 PM
4,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,66294629-55df-4144-8b88-087d1147f465,11/20/2023 3:27:51 PM
...,...,...,...,...,...,...,...,...,...
208342,gsoskin@gmail.com,1,NaN,NaN,NaN,1,1.0,32e3cd8e-14cd-4ec6-a564-73886f2187cc,06/28/2022 3:35:00 AM
208343,gsowa@callpghservice.com,1,1.0,NaN,NaN,1,1.0,09e0321e-7cf3-4270-af7f-99c8d7af7b30,02/28/2023 11:36:34 PM
208347,gskwon1124@gmail.com,1,1.0,NaN,NaN,1,1.0,94e70fac-9852-4fbf-8e3f-898dba6a1f3a,11/11/2022 12:26:38 AM
208357,gshineinkllc@gmail.com,1,NaN,NaN,NaN,1,1.0,6cabcd11-8f21-4dc7-bed6-4e47536af1d9,08/31/2022 10:52:41 PM
208360,gshukriyyah@gmail.com,1,1.0,NaN,NaN,1,1.0,e261876a-c70c-4925-bed3-6529382b9be1,07/14/2023 3:09:00 AM

In [54]:
#emails with no applications
filtered_df2 = result_df6[result_df6['application_instance_id'].isna()]
filtered_df2

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date
20,lyoseloff@roadsfoundation.org,21,21.0,21.0,NaN,1,NaN,NaN,NaN
21,Chad.lindsey@airportdimensions.com,21,NaN,21.0,NaN,1,NaN,NaN,NaN
22,matt.miller@airportdimensions.com,21,NaN,21.0,NaN,1,NaN,NaN,NaN
23,mordechai@updateitny.com,21,21.0,21.0,NaN,1,NaN,NaN,NaN
46,javier.villarreal@airportdimensions.com,17,17.0,17.0,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
208366,gsingh6205@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
208367,gsingh951@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
208368,gsingh@protosgroup.net,1,NaN,NaN,NaN,1,NaN,NaN,NaN
208369,gsinghn81@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
208370,zzw520usc@gmail.com,1,NaN,NaN,NaN,1,NaN,NaN,NaN

In [58]:
filtered_df['rank'] = filtered_df.sort_values('created_date', ascending=False)\
              .groupby('email_address')\
              .cumcount() + 1

In [61]:
#emails_with_most_recent_application based on created date
filtered_df = filtered_df[filtered_df['rank'] == 1].copy()
filtered_df
filtered_df.drop('rank',axis=1,inplace=True)
filtered_df

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date
5,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM
13,cswords06@gmail.com,42,42.0,12.0,NaN,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM
19,basemalgaberi199119@gmail.com,36,36.0,24.0,NaN,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM
24,thembisile7@gmail.com,20,20.0,20.0,NaN,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM
25,lic.marytatm@gmail.com,20,20.0,5.0,NaN,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM
...,...,...,...,...,...,...,...,...,...
208342,gsoskin@gmail.com,1,NaN,NaN,NaN,1,1.0,32e3cd8e-14cd-4ec6-a564-73886f2187cc,06/28/2022 3:35:00 AM
208343,gsowa@callpghservice.com,1,1.0,NaN,NaN,1,1.0,09e0321e-7cf3-4270-af7f-99c8d7af7b30,02/28/2023 11:36:34 PM
208347,gskwon1124@gmail.com,1,1.0,NaN,NaN,1,1.0,94e70fac-9852-4fbf-8e3f-898dba6a1f3a,11/11/2022 12:26:38 AM
208357,gshineinkllc@gmail.com,1,NaN,NaN,NaN,1,1.0,6cabcd11-8f21-4dc7-bed6-4e47536af1d9,08/31/2022 10:52:41 PM
208360,gshukriyyah@gmail.com,1,1.0,NaN,NaN,1,1.0,e261876a-c70c-4925-bed3-6529382b9be1,07/14/2023 3:09:00 AM

In [63]:
#email_address with recent_application
final_df = pd.concat([filtered_df, filtered_df2], axis=0, ignore_index=True)
final_df

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM
1,cswords06@gmail.com,42,42.0,12.0,NaN,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM
2,basemalgaberi199119@gmail.com,36,36.0,24.0,NaN,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM
3,thembisile7@gmail.com,20,20.0,20.0,NaN,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM
4,lic.marytatm@gmail.com,20,20.0,5.0,NaN,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM
...,...,...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
204509,gsingh951@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
204510,gsingh@protosgroup.net,1,NaN,NaN,NaN,1,NaN,NaN,NaN
204511,gsinghn81@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN
204512,zzw520usc@gmail.com,1,NaN,NaN,NaN,1,NaN,NaN,NaN

In [66]:
df6=df3[['email_address','phone_number','fico','credit_score','liability_bankruptcy_count']]
df6

,email_address,phone_number,fico,credit_score,liability_bankruptcy_count
0,saneustransport@gmail.com,1-954-918-0763,NaN,NaN,NaN
1,rodneyalford8@gmail.com,1-909-568-9748,NaN,NaN,NaN
4,tguillotte80@gmail.com,1-719-639-3547,NaN,NaN,NaN
5,danklein9911@msn.com,1-720-882-7730,NaN,NaN,NaN
6,kitchenofkilonta@gmail.com,1-916-308-6982,NaN,NaN,NaN
...,...,...,...,...,...
244528,adonovan86@gmail.com,NaN,NaN,NaN,NaN
244529,lakhveermann78@gmail.com,NaN,NaN,NaN,NaN
244531,markaryang@aol.com,NaN,NaN,NaN,NaN
244532,larry.swafford.3@gmail.com,NaN,NaN,NaN,NaN
244533,angieleyva@icloud.com,NaN,NaN,NaN,NaN

In [68]:
#email_related_info
result_df7 = pd.merge(final_df, df6, on='email_address', how='left')
result_df7

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date,phone_number,fico,credit_score,liability_bankruptcy_count
0,ct-tester-01@yopmail.com,48,NaN,NaN,NaN,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM,1-205-740-2728,NaN,NaN,NaN
1,cswords06@gmail.com,42,42.0,12.0,NaN,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM,-8767,NaN,NaN,NaN
2,basemalgaberi199119@gmail.com,36,36.0,24.0,NaN,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM,1-646-943-9148,707.0,NaN,0.0
3,thembisile7@gmail.com,20,20.0,20.0,NaN,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM,1-914-953-0103,NaN,NaN,NaN
4,lic.marytatm@gmail.com,20,20.0,5.0,NaN,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM,1-469-254-1638,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204509,gsingh951@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204510,gsingh@protosgroup.net,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204511,gsinghn81@gmail.com,1,1.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204512,zzw520usc@gmail.com,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
result_df8=result_df7.copy(deep=True)

In [70]:
col=['count','count_open','count_click','count_bounce','apps_count']

In [72]:
result_df8[col]=result_df8[col].fillna(0)
result_df8

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date,phone_number,fico,credit_score,liability_bankruptcy_count
0,ct-tester-01@yopmail.com,48,0.0,0.0,0.0,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM,1-205-740-2728,NaN,NaN,NaN
1,cswords06@gmail.com,42,42.0,12.0,0.0,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM,-8767,NaN,NaN,NaN
2,basemalgaberi199119@gmail.com,36,36.0,24.0,0.0,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM,1-646-943-9148,707.0,NaN,0.0
3,thembisile7@gmail.com,20,20.0,20.0,0.0,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM,1-914-953-0103,NaN,NaN,NaN
4,lic.marytatm@gmail.com,20,20.0,5.0,0.0,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM,1-469-254-1638,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
204509,gsingh951@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
204510,gsingh@protosgroup.net,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
204511,gsinghn81@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
204512,zzw520usc@gmail.com,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
result_df8['open%']=((result_df8['count_open']/result_df8['count'])*100).round(2).astype(str) + '%'
result_df8['click%']=((result_df8['count_click']/result_df8['count'])*100).round(2).astype(str) + '%'
result_df8['bounce%']=((result_df8['count_bounce']/result_df8['count'])*100).round(2).astype(str) + '%'
result_df8

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date,phone_number,fico,credit_score,liability_bankruptcy_count,open%,click%,bounce%
0,ct-tester-01@yopmail.com,48,0.0,0.0,0.0,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM,1-205-740-2728,NaN,NaN,NaN,0.0%,0.0%,0.0%
1,cswords06@gmail.com,42,42.0,12.0,0.0,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM,-8767,NaN,NaN,NaN,100.0%,28.57%,0.0%
2,basemalgaberi199119@gmail.com,36,36.0,24.0,0.0,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM,1-646-943-9148,707.0,NaN,0.0,100.0%,66.67%,0.0%
3,thembisile7@gmail.com,20,20.0,20.0,0.0,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM,1-914-953-0103,NaN,NaN,NaN,100.0%,100.0%,0.0%
4,lic.marytatm@gmail.com,20,20.0,5.0,0.0,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM,1-469-254-1638,NaN,NaN,NaN,100.0%,25.0%,0.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0%,0.0%,0.0%
204509,gsingh951@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0%,0.0%,0.0%
204510,gsingh@protosgroup.net,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0%,0.0%,0.0%
204511,gsinghn81@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0%,0.0%,0.0%
204512,zzw520usc@gmail.com,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0%,0.0%,0.0%

In [78]:
uq_app_df.columns

Index(['send_id', 'email_address', 'date', 'subject', 'opened_flag',
       'clicked_flag', 'clicked_url', 'bounce_flag', 'bounce_reason',
       'application_instance_id', 'email', 'latest_status', 'borrower',
       'applicant_email', 'business_street', 'business_city', 'business_state',
       'business_zip', 'business_start_date', 'user_id', 'program',
       'as_of_date', 'first_name', 'last_name', 'phone_number', 'fico',
       'credit_score', 'liability_bankruptcy_count', 'created_date',
       'Primary_Flag'],
      dtype='object')

In [80]:
df9=uq_app_df[['application_instance_id','latest_status']]
df9

                    application_instance_id           latest_status
0      fffe002e-63ea-4873-a936-9dfcc8d2ef1e      BORROWER_ABANDONED
1      fffc2044-ada9-4565-a482-7c8c9f60b588              INPROGRESS
2      fffbd606-235c-4db7-afff-9d050bcea87a      BORROWER_ABANDONED
3      fffb8cb2-b2ac-4e03-aebf-434b1a6bca3e      BORROWER_ABANDONED
4      fff6280a-9aef-4647-bf87-3d64b6210dc2      BORROWER_ABANDONED
...                                     ...                     ...
31254  001695ce-0eb3-4b1e-99c5-b4b72c9625c6      BORROWER_ABANDONED
31255  0011b715-1070-4ea3-939c-2de824b2c93a      BORROWER_ABANDONED
31256  000e8fbe-6ec4-4f50-b1e4-8388e3008974      BORROWER_ABANDONED
31257  000c2e65-5132-4793-9041-2a9d15f55523      BORROWER_ABANDONED
31258  00020485-dbe2-4c4a-a26d-c8febb0db849  MANUAL_REVIEW_DECLINED

[31259 rows x 2 columns]

In [82]:
result_df9 = pd.merge(result_df8, df9, on='application_instance_id', how='left')
result_df9

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date,phone_number,fico,credit_score,liability_bankruptcy_count,open%,click%,bounce%,latest_status
0,ct-tester-01@yopmail.com,48,0.0,0.0,0.0,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM,1-205-740-2728,NaN,NaN,NaN,0.0%,0.0%,0.0%,CREATED
1,cswords06@gmail.com,42,42.0,12.0,0.0,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM,-8767,NaN,NaN,NaN,100.0%,28.57%,0.0%,INPROGRESS
2,basemalgaberi199119@gmail.com,36,36.0,24.0,0.0,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM,1-646-943-9148,707.0,NaN,0.0,100.0%,66.67%,0.0%,BORROWER_ABANDONED
3,thembisile7@gmail.com,20,20.0,20.0,0.0,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM,1-914-953-0103,NaN,NaN,NaN,100.0%,100.0%,0.0%,BORROWER_ABANDONED
4,lic.marytatm@gmail.com,20,20.0,5.0,0.0,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM,1-469-254-1638,NaN,NaN,NaN,100.0%,25.0%,0.0%,BORROWER_ABANDONED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0%,0.0%,0.0%,NaN
204509,gsingh951@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0%,0.0%,0.0%,NaN
204510,gsingh@protosgroup.net,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0%,0.0%,0.0%,NaN
204511,gsinghn81@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0%,0.0%,0.0%,NaN
204512,zzw520usc@gmail.com,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0%,0.0%,0.0%,NaN

In [85]:
app_df=pd.read_csv('application_instance_id_info_SBA.csv')
app_df

,Program,File Type,Loan Type,Identifier,Name,Application Date,Status,Amount Requested,census_tract,Race,...,Congressional District,Annual Gross Revenue,NAICS National Industry Title,NAICS Sector Code,NAICS Subsector Code,NAICS Industry Group Code,NAICS Industry Code,latest_flag,lmi,majority_minority_census
0,SBA/Core,Loan,1,001138b4-f186-4bdd-a55e-a4c98882db70,Bryan Marquez,2023-12-24 07:36:10.467,BORROWER_ABANDONED,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
1,SBA/Core,Loan,1,001695ce-0eb3-4b1e-99c5-b4b72c9625c6,Indya Murphy,2023-08-13 07:35:58.974,BORROWER_ABANDONED,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
2,SBA/Core,Loan,1,001bd6a9-3f41-4fe8-8118-86efdec584b4,Alijah Thompson,2023-11-24 12:33:50.276,BORROWER_ABANDONED,NaN,1.311500e+10,Black or African American,...,14,1500.0,Landscaping Services,NaN,NaN,NaN,NaN,True,Yes,No
3,SBA/Core,Loan,1,001d87e8-bc70-4f3d-8816-0a027d4472ca,vernessa ford,2023-11-21 11:55:01.096,BORROWER_ABANDONED,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
4,SBA/Core,Loan,1,001fd735-b935-4cd7-9d48-ad28e1f2a8c9,Kwong Sit,2023-11-21 13:46:26.824,MANUAL_REVIEW_DECLINED,NaN,6.065043e+09,Asian,...,41,265830.0,Pet Care (except Veterinary) Services,NaN,NaN,NaN,NaN,True,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52854,SBA/Core,Loan,1,ffca1a57-c510-4515-a711-9331ee604ca8,Tamiera Harris,2023-11-23 11:23:26.119,AUTOMATED_REVIEW_DECLINED,NaN,3.200300e+10,Black or African American,...,1,36000.0,Beauty Salons,NaN,NaN,NaN,NaN,True,Yes,Yes
52855,SBA/Core,Loan,1,ffd0b57c-0efe-4589-9223-cc950ac1726f,angel mayen,2023-11-21 12:49:30.946,AUTOMATED_REVIEW_DECLINED,NaN,6.037191e+09,Not Disclosed,...,30,21000.0,All Other Traveler Accommodation,NaN,NaN,NaN,NaN,True,Yes,Yes
52856,SBA/Core,Loan,1,ffdf7ae3-5d4e-4cd9-8247-c95200d9a9e3,Claudia Padilla,2023-12-07 07:36:11.491,BORROWER_ABANDONED,NaN,NaN,NaN,...,NaN,NaN,Beauty Salons,NaN,NaN,NaN,NaN,True,NaN,NaN
52857,SBA/Core,Loan,1,ffdf7f65-0a08-494f-9b3c-ac27c1c10081,Michael Butler,2023-11-21 13:27:39.209,BORROWER_ABANDONED,NaN,4.820145e+10,NaN,...,22,0.0,All Other Specialty Trade Contractors,NaN,NaN,NaN,NaN,True,NaN,NaN
52858,SBA/Core,Loan,1,fffdb5a6-0017-46c8-983b-fd677b4859bb,Carina Romero,2023-11-21 12:50:05.960,AUTOMATED_REVIEW_DECLINED,NaN,6.071003e+09,Not Disclosed,...,33,142280.0,Security Systems Services (except Locksmiths),NaN,NaN,NaN,NaN,True,Yes,Yes

In [86]:
app_df.columns

Index(['Program', 'File Type', 'Loan Type', 'Identifier', 'Name',
       'Application Date', 'Status', 'Amount Requested', 'census_tract',
       'Race', 'Women Owned', 'Veteran', 'Rural', 'Ethnicity', 'state',
       'minority', 'NAICS', 'Round', 'Total Employees', 'County', 'City',
       'Congressional District', 'Annual Gross Revenue',
       'NAICS National Industry Title', 'NAICS Sector Code',
       'NAICS Subsector Code', 'NAICS Industry Group Code',
       'NAICS Industry Code', 'latest_flag', 'lmi',
       'majority_minority_census'],
      dtype='object')

In [93]:
filter_app_df=app_df[['Identifier','census_tract','Race', 'Women Owned', 'Veteran', 'Rural', 'Ethnicity', 'state','minority', 'NAICS','Total Employees', 'County', 'City','Congressional District', 'Annual Gross Revenue','NAICS National Industry Title', 'NAICS Sector Code','lmi','majority_minority_census']]
filter_app_df
filter_app_df.rename(columns={'Identifier': 'application_instance_id'}, inplace=True)
filter_app_df

C:\Users\Lendistry\AppData\Local\Temp\ipykernel_4980\2334781799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_app_df.rename(columns={'Identifier': 'application_instance_id'}, inplace=True)

,application_instance_id,census_tract,Race,Women Owned,Veteran,Rural,Ethnicity,state,minority,NAICS,Total Employees,County,City,Congressional District,Annual Gross Revenue,NAICS National Industry Title,NAICS Sector Code,lmi,majority_minority_census
0,001138b4-f186-4bdd-a55e-a4c98882db70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001695ce-0eb3-4b1e-99c5-b4b72c9625c6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001bd6a9-3f41-4fe8-8118-86efdec584b4,1.311500e+10,Black or African American,NaN,Non-Veteran,NaN,Not Hispanic or Latino,GA,False,561730,0,Floyd,Rome,14,1500.0,Landscaping Services,NaN,Yes,No
3,001d87e8-bc70-4f3d-8816-0a027d4472ca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,001fd735-b935-4cd7-9d48-ad28e1f2a8c9,6.065043e+09,Asian,NaN,Non-Veteran,NaN,Not Hispanic or Latino,CA,True,812910,0,Los Angeles,Claremont,41,265830.0,Pet Care (except Veterinary) Services,NaN,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52854,ffca1a57-c510-4515-a711-9331ee604ca8,3.200300e+10,Black or African American,NaN,Non-Veteran,NaN,Not Hispanic or Latino,FL,False,812112,0,Lake,Mascotte,1,36000.0,Beauty Salons,NaN,Yes,Yes
52855,ffd0b57c-0efe-4589-9223-cc950ac1726f,6.037191e+09,Not Disclosed,NaN,Non-Veteran,NaN,Hispanic or Latino,CA,True,721199,0,Los Angeles,Los Angeles,30,21000.0,All Other Traveler Accommodation,NaN,Yes,Yes
52856,ffdf7ae3-5d4e-4cd9-8247-c95200d9a9e3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,812112,0,NaN,NaN,NaN,NaN,Beauty Salons,NaN,NaN,NaN
52857,ffdf7f65-0a08-494f-9b3c-ac27c1c10081,4.820145e+10,NaN,NaN,NaN,NaN,NaN,NaN,False,238990,0,NaN,NaN,22,0.0,All Other Specialty Trade Contractors,NaN,NaN,NaN
52858,fffdb5a6-0017-46c8-983b-fd677b4859bb,6.071003e+09,Not Disclosed,NaN,Non-Veteran,NaN,Hispanic or Latino,CA,True,561621,0,San Bernardino,Rialto,33,142280.0,Security Systems Services (except Locksmiths),NaN,Yes,Yes

In [94]:
result_df10 = pd.merge(result_df9, filter_app_df, on='application_instance_id', how='left')
result_df10

,email_address,count,count_open,count_click,count_bounce,unique_send_count,apps_count,application_instance_id,created_date,phone_number,...,NAICS,Total Employees,County,City,Congressional District,Annual Gross Revenue,NAICS National Industry Title,NAICS Sector Code,lmi,majority_minority_census
0,ct-tester-01@yopmail.com,48,0.0,0.0,0.0,6,8.0,41618ee3-2554-4e38-97a7-b4a95e545029,11/21/2023 7:44:01 PM,1-205-740-2728,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cswords06@gmail.com,42,42.0,12.0,0.0,7,6.0,1a52f975-a4db-460d-bfb7-18bc773a38ec,11/24/2023 9:34:17 PM,-8767,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,basemalgaberi199119@gmail.com,36,36.0,24.0,0.0,4,6.0,13019604-db7e-477b-ac77-cce5b019194c,11/16/2023 1:05:48 AM,1-646-943-9148,...,NaN,0.0,NaN,NaN,NaN,150000.0,NaN,NaN,NaN,NaN
3,thembisile7@gmail.com,20,20.0,20.0,0.0,2,1.0,f2ff8c99-4a93-4f76-91f7-4bcdee6e25a9,10/31/2023 4:47:18 AM,1-914-953-0103,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,lic.marytatm@gmail.com,20,20.0,5.0,0.0,4,5.0,973b674f-fe99-4c3a-9443-92a724321e5c,11/17/2023 4:14:11 AM,1-469-254-1638,...,541611,0.0,NaN,NaN,NaN,NaN,Administrative Management and General Manageme...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204508,gsingh6205@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204509,gsingh951@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204510,gsingh@protosgroup.net,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204511,gsinghn81@gmail.com,1,1.0,0.0,0.0,1,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204512,zzw520usc@gmail.com,1,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
result_df10.columns

Index(['email_address', 'count', 'count_open', 'count_click', 'count_bounce',
       'unique_send_count', 'apps_count', 'application_instance_id',
       'created_date', 'phone_number', 'fico', 'credit_score',
       'liability_bankruptcy_count', 'open%', 'click%', 'bounce%',
       'latest_status', 'census_tract', 'Race', 'Women Owned', 'Veteran',
       'Rural', 'Ethnicity', 'state', 'minority', 'NAICS', 'Total Employees',
       'County', 'City', 'Congressional District', 'Annual Gross Revenue',
       'NAICS National Industry Title', 'NAICS Sector Code', 'lmi',
       'majority_minority_census'],
      dtype='object')

In [97]:
result_df10.to_csv('Email_Level_Marketing_Analytics.csv')